@model UserInformation.Identity.MyUsers.Users
@{
    ViewData["Title"] = "SuccessRegister";
}
<h2>SuccessRegister</h2>
<div class="container">
    <div class="col col-md-12 bg-success ">
        <h1 class="text-center text-white"> عزیز  @Model.UserName </h1>
        <br />
        <h3 class="text-warning text-center">ثبت شما با موفقیت انجام شد</h3>
        <h5 class="text-center text-white">مراجعه بفرمایید   @Model.Email  لطفا جهت ادامه مراحل ثبت نام  به    </h5>
    </div>
</div>