@model UserInformation.Identity.MyUsers.Users
<div style="background-color: #c0c0c0; color:#FCFCFF; text-align: center; padding: 20px; margin: 30px; direction: rtl; border-radius: 8px;">
    <p style="font-size: 19px; background-color: #F4DC03;color: #575555"> عزیز @Model.UserName</p>
    <p style="font-size: 19px;">با سلام</p>
    <h3>با نشکر از ثبت نام شما در وب سایت آسان کد ، لطفا جهت فعال سازی حساب خود روی لینک زیر کلیک کنید</h3>
    <a style="background-color: White; color: #38C0EF; font-size: 19px; border-radius: 2px;" href="https://localhost:44305/account/ActiveCode/@Model.ActiveCode">لینک فعال سازی حساب کاربری </a>
</div>
<div style="margin-top: 2px;text-align: right;  padding:2px 6px 6px 6px; direction: rtl;">
    <p style="text-align: center;">------------------------------------</p>
    <p style="text-align: center;">----------------------</p>
    <p style="text-align: center;font-weight: bold">
        با احترام
        مرکز پشتیبانی آسان کد
    </p>
    <p style="text-align: center;font-weight: bold">https://Asancode.com</p>
</div>